*
{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Merienda';
    
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:2rem;
    
}

.navi
{
    display:flex;
    flex-direction: row;
    margin-right:15rem;
}

.navi a
{
    font-size:2rem;
    color:white;
    text-decoration: none;
    font-weight:900;
    padding: 0rem 1.5rem;
}

.header_name h3 
{
    font-size:2.5rem;
    padding: 1rem;
    color: white;
    font-weight: 900;
}
.header_name img
{
    width:100px;
    height:50px;
}
.header_name
{
    display: flex;
}

.navi a:hover
{
    
    color:green;
}

.navi_icon i
{
    color: white;
    font-size:2.5rem;
    width:100px;
    opacity:0;
    position:absolute;
    right:0.2rem;
    top:3.5rem;

}
body
{
    background-image: url('images/bckgd4.jpg');
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 58.5%;
}

body::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: -1;
}

.box
{
    position: absolute;
    top: 55%;
    left: 50%;
    margin:20px auto; 
    width:450px;
    height:500px;
    padding: 10px;
    padding-right:20px;
    background:white;
    border-radius: 10px;
    border:0;
    right: 0;
    transform: translateY(-50%);

}

.box form
{
    font-size: 20px;
    
}

.box h2
{
    font-size: 30px;
    text-align: center;
}

input[type="text"],
input[type="email"],
textarea
{
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

input[type="submit"]
{
    text-align: left;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-size:2rem;
    padding:1rem 4rem;
    color: white;
    cursor: pointer;
}

.Infobox
{
    position: absolute;
    top: 60%;
    left: 50%;
    margin:20px auto; 
    width:450px;
    height:420px;
    padding:20px;
    padding-left:70px;
    background:none;
    border:0;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
}

.Infobox img
{
    vertical-align: middle;
}

.footer_banner
{
width:100%;
height:20rem;
background-color: #86C205;
text-align: center;
padding:2rem 0rem 0 0;
margin-top: 50%;
}

.footer_banner h2
{
color: white;
font-size:3rem;
padding:0.5rem;
}

.footer_banner h3
{
font-size:2rem;
color: white;
padding: 0.5rem;
}

.footer_banner a
{
color:white;
font-size:1.8rem;
padding:0rem 1rem;
text-decoration: none;
}

.footer_banner ul
{
display: flex;
justify-content: center;
padding:0.5rem;
}